<header class="border-bottom box-shadow px-3 px-md-4 py-3 py-md-0">
  <div class="container d-flex flex-column flex-md-row align-items-center">
    <h5
      class="my-0 mr-md-auto font-weight-normal font-weight-normal logo-container"
    >
      <img width="70" src="assets/images/interface.svg" alt="App logo"/>
      <span>Blog</span>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a
        href="#"
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        >Home</a
      >
      <a href="#" routerLink="/posts" routerLinkActive="active">Posts</a>
    </nav>
  </div>
</header>
